[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = ">=1.26.0"
sqlalchemy = "*"
sentence-transformers = "*"
watchdog = "*"
torchvision = "*"
psycopg2-binary = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.14"
